.header-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.larger-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.article-sec{
    background-color: #F6F8F9;
    padding-top: 40px;
    padding-bottom: 40px;
}
.first-sec{
    background-color: #F6F8F9;
}
.elephant-sec{
    background-color: #F6F8F9;
}
.container {
    max-width: 1160px;
    width: 95%;
    margin: 0 auto;
}
.header {
    background-color: #F6F8F9;
}
.logo {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 17px;
}
.text-logo{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #FA6980;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
}
.nav-ul li a {
    text-transform: uppercase;
    color: #343638;
    font-size: 11px;
    font-weight: bold;
    opacity: 50%;
}
.nav-li:nth-child(1) a {
    opacity: 100%;
}
.nav-li:nth-child(2){
    margin-left: 27px;
    margin-right: 22px;
}
.nav-li:nth-child(4){
    margin-left: 22px;
    margin-right: 40px;
}
.nav-and-img {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-image img:hover {
    transform: scale(1.5);
}
.first-sec {
    display: flex;
}
.left-block {
    background-image: url(../images/left-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 840px;
    width: 60%;
    padding: 177px 100px 0 140px;
    
}
.left-inner-block {
    font-family: 'Helvetica';
    color: white;
    width: 71%;
    height: 247px;
}
.left-inner-block h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
.left-inner-block h3::after {
    content: "";
    height: 1px;
    max-width: 560px;
    width: 100%;
    background-color: white;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}
.left-inner-block h4 {
    font-weight: bold;
    font-size: 24px;
}
.left-inner-block p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 56px;
}
.learn-more {
    padding: 16px 30px;
    background-color: #FA6980;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.right-block {
    max-width: 600px;
    width: 40%;
    padding: 100px 120px 100px 100px;
    background-color: white;
}
.fa-chevron-left {
    width: 6px;
    opacity: 30%;
    height: 10px;
}
.fa-chevron-right {
    width: 6px;
    margin-left: 43px;
    height: 10px;
}
.text-and-arrows {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: rgb(235, 227, 227) 1px solid;
    margin-bottom: 40px;
}
.text-and-arrows h3 {
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-weight: bold;
}
.news-1 h2 {
    text-transform: uppercase;
    font-family: 'Helvetica';
    color: #FA6980;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.news-1 h3 {
    font-weight: bold;
    font-family: 'Helvetica';
    font-size: 16px;
    margin-bottom: 10px;
}
.news-1 article {
    font-family: 'Acumin Pro';
    font-size: 16px;
    color: #A6ADB4;
    line-height: 26px;
}
.timing {
    display: flex;
    color: #CBD0D3;
    align-items: center;
}
.timing p {
    margin-left: 10px;
}
.news-1 {
    margin-bottom: 40px;
}
.trending-blocks {
    display: flex;
    justify-content: space-between;
}
.section-2-title {
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-size: 24px;
    font-weight: bold;
}
.bg-place1 {
    background-image: url(../images/Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
}
.bg-place2 {
    background-image: url(../images/annie-spratt-216507-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
}
.bg-place3 {
    background-image: url(../images/carlos-hevia-628890-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
}
.block {
    max-width: 360px;
    width: 30%;
}
.info-place {
    padding: 40px;
    background-color: white;
}
.info-place h4 {
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: bold;
}
.info-place p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Acumin Pro";
    font-size: 13px;
    color: #A6ADB4;
}
.tr-title-and-arrows{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.trending-section {
    padding-top: 40px;
    background-color: #F6F8F9;
    padding-bottom: 40px;
}
.happening-2-big{
    width: 60%;
}
.big-block-1{
    background-image: url(../images/bridge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 430px;
    margin-bottom: 40px;
    color: white;
    padding-top: 40px;
    padding-left: 40px;
}
.big-block-2 {
    background-image: url(../images/forrest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 430px;
    color: white;
    padding-top: 40px;
    padding-left: 40px;
}
.img-place1 {
    background-image: url(../images/elephant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
}
.img-place2 {
    background-image: url(../images/bird.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
}
.img-place3 {
    background-image: url(../images/road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
}
.happening-3-small {
    width: 37%;
}
.happening-blocks{
    display: flex;
    justify-content: space-between;
}
.small-block:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 40px;
}
.small-block-info {
    margin-top: 20px;
}
.small-block-info h4 {
    font-family: 'Acumin Pro';
    font-size: 16px;
    font-weight: bold;
}
.small-block-info .timing {
    font-family: 'Helvetica';
    margin-top: 10px;
}
.author {
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}
.big-block-1 h4, .big-block-2 h4 {
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 232px;
}
.bottom-info h3 {
    font-family: 'Helvetica';
    font-size: 24px;
    font-weight: bold;
}
.bottom-info p {
    font-family: 'Helvetica';
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    width: 85%;
}
.happ-section {
    background-color: #F6F8F9;
    padding-bottom: 100px;
}
.bottom-info .timing {
    font-family: "Helvetica";
}
footer{
    background-color: #A6ADB4;
    padding-bottom: 60px;
    padding-top: 54px;
}
.footer-nav-block {
    display: flex;
    width: 380px;
    justify-content: space-between;
}
.subscribe {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.foot-cont {
    max-width: 1160px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-logo a{
    text-transform: uppercase;
    color: white;
    font-family: 'Acumin Pro';
    font-weight: bold;
    font-size: 13px;
}
.footer-nav ul li a, .second-ul li a, .third-ul li a{
    color: #CBD0D3;
    text-transform: capitalize;
    font-size: 13px;
    font-family: 'Helvetica';
    font-weight: bold;
}
.footer-nav ul li, .second-ul li, .third-ul li {
    margin-bottom: 8px;
}
.socials {
    width: 160px;
    display: flex;
    justify-content: space-between;
}
.socials a {
    color: white;
}
#email {
    width: 262px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: transparent;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
    opacity: 10%;
}
#email::placeholder{ 
    color: #ffffff;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: bold;
}
.subscribe form {
    position: relative;
}
.subscribe form label {
    font-family: 'Helvetica';
    font-size: 11px;
    color: #CBD0D3;
    margin-top: 14px;
}
.btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 12px;
    right: 0;
    color: white;
}
.news-first-sec{
    padding-top: 40px;
    background-color: #F6F8F9;
}
.pagetitle-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.story-a{
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 19px;
    font-family: 'Helvetica';
    font-size: 11px;
    font-weight: bold;
    color: black;
}
.world-a{
    text-transform: uppercase;
    margin-left: 19px;
    font-family: 'Helvetica';
    font-size: 11px;
    color: #A6ADB4;
}
.left-one {
    background-image: url(../images/newsbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 580;
    width: 50%;
    padding: 155px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Helvetica';
    font-weight: bold;
}
.two-blocks {
    display: flex;
}
.left-one h2{
    text-transform: uppercase;
    font-size: 32px;
}
.left-one p{
    font-size: 16px;
    margin-bottom: 40px;
}
.red-divider{
    height: 1px;
    width: 40px;
    background-color: #FA6980;
    margin-top: 20px;
    margin-bottom: 20px;
}
.right-one {
    max-width: 580;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.right-inside-box {
    width: 70%;
}
.right-inside-box form {
    display: flex;
    flex-direction: column;
}
.right-inside-box form label {
    font-family: 'Acumin Pro';
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}
.right-inside-box form input {
    border-style: solid;
    border-color: #EBEDED;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.right-inside-box form a {
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-size: 11px;
    font-weight: bold;
    color: white;
    padding: 16px 30px ;
    background-color: #FA6980;
    border-radius: 6px;
    width: 134px;
    text-align: center;
}
.three-block-article {
    display: flex;
    justify-content: space-between;
    border-top: 1px #c4caca solid;
    border-bottom: 1px #c4caca solid;
    padding-top: 40px;
    padding-bottom: 40px;
}
.avatar-and-title {
    width: 31%;
}
.article-one {
    width: 31%;
}
.article-two{
    width: 31%;
}
.avatar-and-title h3 {
    font-family: 'Acumin Pro';
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.article-one article, .article-two article {
    font-family: 'Helvetica';
    font-size: 14px;
    color: #A6ADB4;
    line-height: 26px;
}
.article-two .timing {
    margin-top: 25px;
}
.elephant-bg {
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.eleph-article {
    max-width: 760px;
    width: 60%;
    font-family: 'Helvetica';
    font-size: 14px;
    line-height: 26px;
    color: #A6ADB4;
    margin-top: 40px;
    padding-bottom: 160px;
}
.counter-divider, .page-counter {
    display: none;
}
@media (max-width: 1024px){
    .first-sec {
        width: 100%;
        flex-direction: column;
    }
    .left-block {
        /* display: block; */
        max-width: 1024px;
        width: 100%;
        height: 668px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .left-inner-block {
        min-width: 608px;
        width: 80%;
        padding: 0;
        margin: 0;
    }
    .left-inner-block h3 {
        min-width: 608px;
        width: 90%;
    }
    .left-inner-block h3::after {
        content: "";
        height: 1px;
        min-width: 608px;
        width: 90%;
        background-color: white;
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .right-block { 
        /* display: block; */
        max-width: 1024px;
        width: 100%;
        padding-top: 40px;
        padding-left: 80px;
    } 
    .all-news {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    .news-1 {
        min-width: 285px;
        width: 85%;
    }
    .news-1:nth-child(2){
        margin-left: 40px;
    }
    .news-1 .timing {
        margin-top: 20px;
    }
    .trending-blocks {
        display: flex;
        justify-content: space-between;
    }
    .block {
        max-width: 550px;
        min-width: 284px;
        width: 45%;
    }
    .block:nth-child(3) {
        display: none;
    }
    .happening-blocks {
        display: flex;
        flex-direction: column;
    }
    .happening-2-big {
        width: 100%;
    }
    .happening-3-small {
        padding-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .small-block {
        max-width: 550px;
        min-width: 284px;
        width: 45%;
    }
    .small-block:nth-child(2) {
        margin-top: 0;
    }
    .small-block:nth-child(3) {
        display: none;
    }
    .two-blocks {
        display: flex;
        flex-direction: column;
    }
    .left-one {
        width: 100%;
    }
    .right-one {
        width: 100%;
        padding-top: 87px;
        padding-bottom: 87px;
    }
    .three-block-article {
        display: flex;
        flex-wrap: wrap;
    }
    .avatar-and-title {
        width: 100%;
        margin-bottom: 50px;
    }
    .article-one {
        width: 40%;
    }
    .article-two {
        width: 40%;
    }
    .eleph-article {
        max-width: 1023px;
        width: 100%;
        padding-bottom: 60px;
    }
    .page-counter {
        padding-bottom: 40px;
        display: flex;
        width: 233px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
    }
    #first-page {
        color: black;
        font-weight: bold;
        border-bottom: 2px red solid;
    }
    .counter-divider {
        margin-bottom: 40px;
        height: 1px;
        width: 100%;
        background-color: rgb(219, 213, 213);
    }
    .page-counter a {
        width: 12px;
        font-size: 11px;
        color: #A6ADB4;
        font-family: 'Helvetica';
        letter-spacing: 1px;
        padding-bottom: 2px;
    }
    .footer-logo {
        width: 50%;
    }
    .subscribe {
        grid-column: 1 / 4;
    }
    .socials {
        grid-column: 4 / 5;
    }
    .footer-nav-block {
        width: 100%;
        grid-column: 1 / 5;
    }
    .foot-cont { 
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 30px;
        align-items: flex-end;
    }
}